header {
    display: flex;
    justify-content: flex-start;
    padding: 20px 50px;
    gap: 25%;
    align-items: center;
}

header img{
    width: 180px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav ul li {
    transition: all 300ms ease;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    transition: all 300ms ease;
}

header nav ul li:hover {
    text-decoration: underline;
    transition: all 300ms ease;
}
